{% extends 'base.html' %}
{% block content %}
    <h1> creacion Equipos</h1>
    <form action= "{{ url_for('bp_equipos.create') }}" method="POST">
        <label for="nombre_equipo">Nombre del Equipo:</label>
        <input type="text" name="nombre_equipo" required><br>

        <label for="logo">Logo:</label>
        <input type="text" name="logo" required><br>

        <label for="fecha_fundacion">Fecha de Fundación:</label>
        <input type="date" name="fecha_fundacion" required><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion"></textarea><br>

        <label for="id_usuario">ID del Capitán:</label>
        <input type="number" name="id_usuario" required><br>

        <label for="estado">Estado:</label>
        <input type="text" name="estado" required><br>

        <input type="submit" value="Crear Equipo">
{% endblock %}