{% extends 'base.html' %}
{% block content %}
    <h1>pagina principal</h1>
    <ul>
        <li><a href="{{url_for('bp_usuarios.index')}}">Usuarios</a></li>
        <li><a href="{{url_for('bp_equipos.index')}}">Equipos</a></li>
        <li><a href="{{url_for('bp_torneos.index')}}">Torneos</a></li>
        <li><a href="{{url_for('bp_resultados.index')}}">Resultados</a></li>
        <li><a href="{{url_for('bp_rankings.index')}}">Rankings</a></li>
        <li><a href="{{url_for('bp_Equipo_De_Jugadores.index')}}">Equipos de Jugadores</a></li>
    </ul>
{% endblock %}