{% extends 'base.html' %}
{% block content %}
    <h1> creacion Rankings</h1>
    <form action= "{{ url_for('bp_rankings.create') }}" method="POST">
        <label for="id_jugador">ID Jugador:</label>
        <input type="number" name="id_jugador" required><br>

        <label for="posicion">Posición:</label>
        <input type="number" name="posicion" required><br>

        <label for="puntos">Puntos:</label>
        <input type="number" name="puntos" required><br>

        <label for="victorias">Victorias:</label>
        <input type="number" name="victorias" required><br>

        <label for="derrotas">Derrotas:</label>
        <input type="number" name="derrotas" required><br>

        <label for="fecha_actualizacion">Fecha de Actualización:</label>
        <input type="datetime-local" name="fecha_actualizacion" required><br>

        <input type="submit" value="Crear Ranking">
{% endblock %}